PORT=5000
CLIENT_URL=https://www.rafflesjobs.com
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
NODE_ENV=production

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=465
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
EMAIL_FROM="Raffles Consultancy <noreply@rafflesconsultancy.com>"

ADMIN_EMAIL=
ADMIN_PASSKEY=
